:root
{
  
  /* Transition */
  --transition: 0.3s ease; 
  --transition-slow: 0.9s ease; 
  
  /* Colours */
  --heading-color: var(--purple-600);
  --body-color: var(--purple-800);
  --body-light-color: var(--purple-600);
  
  --white: white;
  --black: var(--grey-900);
  
  /*  Text Links  */
  
  --link-color: var(--blue-600);
  --link-color-hover: var(--blue-700);
  
  --border: 1px solid var(--grey-200);
  --border-light: 1px solid var(--grey-100);
  
  
  --color-primary: var(--green-500);
  --color-primary-hover: var(--bg-primary);  
  --bg-primary: linear-gradient(0deg, var(--green-500) 66%, var(--green-400) 100%);
  
  --color-secondary: var(--blue-400);
      --color-secondary-hover: var(--blue-500);
  
  --color-tertiary: var(--grey-100);
      --color-tertiary-hover: var(--grey-200);
  
  
  /* Buttons */
  --btn-base: var(--size-1); /* smallest padding */
  --btn-radius: var(--radius-md); 
  --btn-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  
}


*
{
  box-sizing: border-box;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
}

html
{
  margin: 8%;
}




/* Inverted Theme ------------------------------- */


.invert-theme
{
  --heading-color: var(--white);
  --body-color: var(--white-op80);
}

/* Typography ------------------------------- */

h1, h2, h3, h4, h5 
{
  color: var(--heading-color);
}

body, p, label, ul, li, details, summary
{
  color: var(--body-color);
}

ul
{
  column-count: 2;
  column-gap: var(--size-4);
}

a
{
  text-decoration: none;
  color: var(--link-color);
  text-decoration: underline 1px solid var(--link-color);
  text-underline-offset: 3px;
  cursor: pointer;
}

a:hover, a:visited
{
  color: var(--link-color-hover);
}

label
{
  font-weight: bold;
  text-transform: uppercase;
}

button{
  cursor: pointer;
}
