:root
{
  --site-width: min( 1280px, 86vw);
}

*
{
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

img
{
  display: block;
  max-width: 100%;
}

html
{
  background-attachment: fixed;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--purple-100);
  background-size: cover;
  animation: bg-animation 9s ease-in-out 0s infinite alternate both;
  position: relative;
}

html::before
{
  position: fixed;
  content: ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 0% 100%, var(--purple-50) 20%, transparent 90%);
  z-index: -1;
  opacity: 0.66;
}

.no-scroll html,
.no-scroll body
{
  overflow-y: hidden;
}

body 
{
  font-family: sans-serif;
  margin-inline: auto;
  width: var(--site-width);
}

@keyframes bg-animation {
    0%
    {
      background-image: url('./assets/bg-a.png');
    } 
    100%
    {
      background-image: url('./assets/bg-b.png');
    } 
}

ul
{
  padding-inline-start: var(--size-3) !important;
}


.faq-wrapper
{
  max-width: 80ch;
  margin-inline: auto;
}

details[open]
{
  margin-bottom: var(--size-8);
}

summary
{
  list-style: none;
  position: relative;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

details[open] summary
{
  border-bottom: 1px solid var(--purple-400);
}

summary::marker
{
  display: none;
}


summary::after
{
  content: '⇣';
  position: absolute;
  top: 0;
  right: 0;
  transition: var(--transition-slow);
  transform: rotate(0deg);
  font-size: var(--text-large);
}

details[open] summary::after
{
  transform: rotate(540deg);
}



/* Header ----------------------------- */


#header
{
  margin-bottom: var(--size-4);
}

@media screen and (max-width: 699px){

  #header
  {
    margin-bottom: var(--size-1);
  }
}


#logo
{
  display: block;
  width: 8rem;
  height: auto;
}

.menu-wrapper
{
  display: flex;
  flex-direction: row;
  gap: var(--size-1);
}


nav
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-3);
  padding-block: var(--size-2);
}

nav button
{
  backdrop-filter: blur(8px);
}

#mobile-btn
{
  display: none;
}

@media screen and (max-width: 699px){

  #logo
  {
    width: 7rem;
  }

  .menu-wrapper
  {
    gap: 0px;
  }

  nav button
  {
    padding: var(--size-1) !important;
    font-size: 1.4rem;
  }

  #mobile-btn
  {
    display: inline-flex;
  }

  .menu-list
  {
    opacity: 0;
    top: 7rem;
    right: 5.5vw;
    height: 0px;
    width: 0px;
    overflow: hidden;
    transition: 0s;
  }

  .menu-list button
  {
    font-size: var(--text-large);
    width: 100%;
  }

  .menu-list a
  {
    width: 100%;
  }

  nav svg.feather-x, 
  nav svg.feather-menu
  {
    transition: var(--transition-slow);
  }

  nav svg.feather-menu
  {
    width: 24px;
  }
  
  nav svg.feather-x
  {
    width: 0px;
    transform: rotate(0deg);
    transition: var(--transition-slow);
  }

  nav.active svg.feather-menu
  {
    width: 0px;
  }

  nav.active svg.feather-x
  {
    width: 24px;
    transform: rotate(360deg);
  }

  nav.active .menu-list
  {
    opacity: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-2);
    width: 86.5vw;
    height: auto;
    background: var(--white);
    padding: var(--size-6);
    border-radius: var(--radius-md);
    z-index: 42;
    transition: var(--transition-slow);
  }

}








/* iFrame Styles ----------------------------- */

iframe
{
  position: relative;
  --width: var(--site-width);
  width: var(--width);
  height: calc(var(--width) / 1.67);
  border: 0px solid white;
  border-radius: var(--radius-lg);
  overflow: hidden;
  background: black;
  outline: 2px solid white;
  outline-offset: -2px;
}

.iframe-wrapper
{
  overflow: hidden;
  position: relative;
  margin-block: var(--size-1) var(--size-4);
}



@media screen and (max-width: 1100px){

  iframe
  {
    --width: var(--site-width);
  }

}

@media screen and (max-width: 699px){


  .iframe-wrapper::after
  {
    content: 'Looks like you are on a mobile. The Figma mockups are scaled for desktop, so check them out there later.';
    font-size: var(--text-xsmall);
    display: block;
    background: var(--white);
    border-radius: var(--radius-md);
    padding: var(--size-1) var(--size-2);
    opacity: 0.85;
  }

}



/* Content Sections */

section
{
  margin-block: var(--size-16);
}


/* Columns ----------------------------- */

.col-2-wrapper,
.col-3-wrapper
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--size-4) var(--size-12);
}

.col-3-wrapper
{
  grid-template-columns: repeat(3, 1fr);
}


.col-2-wrapper
{
  grid-template-columns: repeat(2, 1fr);
}


          @media screen and (max-width: 1000px){
            .col-3-wrapper
            {
              grid-template-columns: repeat(2, 1fr);
            }
          }

              @media screen and (max-width: 699px){
                .col-2-wrapper, 
                .col-3-wrapper
                {
                  grid-template-columns: repeat(1, 1fr);
                }
              }


.col-highlight div
{
  border: 1px solid var(--white-op90);
  border-radius: var(--radius-md);
  padding: var(--size-4);
  backdrop-filter: blur(4px);
  background: var(--white-op10);
}


@media screen and (max-width: 699px){

  .col-highlight div
  {
    padding: var(--size-2) var(--size-4);
  }

}


/* Buttons ------------------------------------ */



button, button[class*="btn-"]
{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:var(--size-1);
  border: 1px solid transparent;
  border-radius: var(--radius-rounded);
  padding: var(--size-1) var(--size-2);
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  line-height: 1;
}

        button[class*="btn-"]:after
        {
          content: '';
          display: block;
          position: absolute;
          top: -25%;
          left: -400%;
          width: 400%;
          height: 300%;
          background: linear-gradient(45deg, transparent 0%, 
                                             transparent 20%, 
                                            white 25%, 
                                            transparent 30%,
                                            transparent 50%,
                                            white 65%, 
                                            transparent 70%, 
                                            transparent 74%, 
                                            white 77%, 
                                            transparent 80%,
                                            transparent 100%);
          
          transition: 0.0001s;  
          opacity: 0.08;
        }

        button[class*="btn-"]:hover:after
        {
            left: 100%;   
            top: -175%; 
            transition: 2s;
            
        }


a:has(button)
{
  text-decoration: none;
  width: fit-content;
}

button[class*="btn-primary"]
{
  background: var(--purple-700);
  color: var(--white);
}

        button[class*="btn-primary"]:hover
        {
          background: var(--purple-750);
          color: var(--white);
        }


button[class*="btn-secondary"]
{
  background: white;
  color: var(--purple-600);
  box-shadow: var(--shadow-sm);
  border: 2px solid transparent;
}

        button[class*="btn-secondary"] svg
        {
          stroke: var(--grey-200);
        }

        button[class*="btn-secondary"]:hover
        {
          background: transparent;
          border: 2px solid rgba(255, 255, 255);
          box-shadow: none;
        }

        button[class*="btn-secondary"]:hover svg
        {
          stroke: var(--purple-500);
        }

button[class*="btn-tertiary"]
{
  background: transparent;
  color: var(--purple-700);
}

        button[class*="btn-tertiary"]:hover
        {
         background: var(--purple-100); 
        }


.button-pair
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
}

        @media screen and (max-width: 699px){
          .button-pair
          {
            flex-direction: column;
          }
        }



.invert-theme
{
  button[class*="btn-secondary"]
  {
    background: var(--white-op10);
    color: var(--white);
    border: 1px solid var(--white-op10);
    box-shadow: none;
  }
}


/* Images */

img.diagram
{
  background: rgba(255, 255, 255, 0.66 );
  border-radius: var(--radius-lg);
  border: 1px solid white;
  padding: var(--size-8);
}






/* Notification -------------------------------------- */


.notification-mobile,
.notification-mobile.hide
{
  display: none;
}  


@media screen and (max-width: 699px)
{
    .notification-mobile
    {
      display: flex;
      flex-direction: row;
      gap: var(--size-1);
      padding: var(--size-1) var(--size-2);
      border-radius: var(--radius-md);
      background-color: var(--orange-100);
      border: 1px solid var(--orange-500);
      color: var(--orange-800);
      margin-block: var(--size-3);
      display: none;
    }   
}





/* Intro Wrapper ----------------------------- */

.intro-wrapper
{
  min-height: 70vh;
  border-radius: var(--radius-lg);
  background: var(--purple-900);
  background: radial-gradient(circle at 0% 120%, #000013 10%, #001C3E 80%, #5D00D2 80%, #002344 100%);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  justify-content: center;
  align-items: center;
  margin-block: var(--size-3);
  margin-inline: 0;
  padding: var(--size-6);
  text-align: center;
  position: relative;
  overflow: hidden;
}

        @media screen and (max-width: 699px)
        {
          .intro-wrapper
          {
            margin-block: 0;
            margin-inline: -4vw;
            min-height: 85vh;
          }
        }


.intro-wrapper
{
  h1, h2, h3
  {
    max-width: 30ch;
  }

  p
  {
    max-width: 60ch;
  }

  button
  {
    padding: var(--size-2) var(--size-4);
  }
}


.intro-wrapper::before,
.intro-wrapper::after
{
  transition: 4s;
  pointer-events: none;
}

.intro-wrapper::before
{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -15%;
  background: radial-gradient(#5D00D2 0%, transparent 60%);
  width: 50%;
  height: 66%;
  opacity: 0.3;
  transform: rotate(33deg);
}


        .intro-wrapper:hover::before
        {
          left: 20%;
          bottom: 40%;
          width: 100%;
        }


.intro-wrapper::after
{
  content: '';
  position: absolute;
  left: 5%;
  bottom: 5%;
  background: radial-gradient(#8c2eff 0%, transparent 50%);
  width: 25%;
  height: 20%;
  opacity: 0.2;
  transform: rotate(33deg);
  transition-delay: 0.4s;
}

        .intro-wrapper:hover::after
        {
          left: 20%;
          bottom: 40%;
          width: 50%;
        }

.intro-wrapper h1, .intro-wrapper p
{
  text-wrap: balance;
}





/* Page Intro ----------------------------- */

.page-intro
{
  margin-block: var(--size-16);
}

@media screen and (min-width: 1000px){
  .page-intro
  {
    max-width: 40%;
  }
}


@media screen and (max-width: 1000px){
  .page-intro
  {
    margin-block: var(--size-8);
  }
}








/* Pattern Listing ------------------------------ */


.patterns-wrapper
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--size-6);

      @media screen and (max-width: 1200px){
        grid-template-columns: repeat(3, 1fr);
      }

          @media screen and (max-width: 900px){
            grid-template-columns: repeat(2, 1fr);
          }

              @media screen and (max-width: 600px){
                grid-template-columns: repeat(1, 1fr);
              }

    article
    {
      position: relative;
      
        img
        {
          border-radius: var(--size-0-5);
          margin-bottom: var(--size-2);
        }

        h3
        {
          margin-bottom: var(--size-0-5);
        }

        div[class*="tag-"]
        {
          position: absolute;
          top: var(--size-1);
          left: var(--size-1);
          transition: 1.2s;
        }

        div[class*="tag-coming"]
        {
          right: var(--size-1);
          left: auto;
        }
      
  }
}

article:hover div[class*="tag-"]
{
  top: calc(var(--size-1) *-1);
  transition: var(--transition-slow);
}


article.coming button
{
  opacity: 0.3;
}

article.coming a
{
  pointer-events: none;
}


#patterns #footer,
#page-patterns #patterns #footer
{
  display: none;
}


.patterns-wrapper article
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-1);
}

.patterns-wrapper article img
{
  border: 0px solid transparent;
  border-radius: var(--radius-md);
  outline: 0px solid transparent;
  transition: 1.2s;
}

    .patterns-wrapper article:hover img
    {
      border: 1px solid var(--grey-op10);
      outline: 6px solid var(--white-op40);
      transition: var(--transition);
    }



div[class*="tag-"]
{
  font-size: var(--text-xsmall);
  line-height: 1;
  border-radius: var(--radius-rounded);
  padding: 6px 9px;
  background: var(--tag-bg);
  color: var(--tag-text);
  width: fit-content;
  text-transform: uppercase;
}

    div[class*="tag-author"]
    {
      --tag-bg: var(--purple-500);
      --tag-text: var(--purple-200);
    }

        div[class*="tag-author"]:after
        {
          content: 'Authoring';
        }

    div[class*="tag-settings"]
    {
      --tag-bg: var(--orange-500);
      --tag-text: var(--orange-200);
    }

        div[class*="tag-settings"]:after
        {
          content: 'Configuration';
        }

    div[class*="tag-results"]
    {
      --tag-bg: var(--blue-550);
      --tag-text: var(--blue-100);
    }

        div[class*="tag-results"]:after
        {
          content: 'Result Display';
        }

    div[class*="tag-editing"]
    {
      --tag-bg: var(--green-550);
      --tag-text: var(--green-100);
    }

        div[class*="tag-editing"]:after
        {
          content: 'Result Editing';
        }

    div[class*="tag-agent"]
    {
      --tag-bg: var(--purple-700);
      --tag-text: var(--purple-100);
    }

        div[class*="tag-agent"]:after
        {
          content: 'AI Agent';
        }

    div[class*="tag-coming"]
    {
      --tag-bg: var(--purple-900);
      --tag-text: var(--grey-400);
    }

        div[class*="tag-coming"]:after
        {
          content: 'Coming Soon';
        }


        @media screen and (max-width: 1000px)
        {

          .intro-wrapper
          {
            padding-inline: 10vw;
          }

          .patterns-wrapper
          {
            grid-template-columns: repeat(2, 1fr);
          }
        }

                @media screen and (max-width: 699px)
                {
                  .patterns-wrapper
                  {
                    grid-template-columns: repeat(1, 1fr);
                  }
                }



.patterns-wrapper.compact
{
  grid-template-columns: repeat(5, 1fr);
}

.patterns-wrapper.compact article p
{
  display: none;
}

.patterns-wrapper.compact article h4
{
  font-size: calc(var(--h6) * var(--text-ratio));
}



.patterns-wrapper.large
{
  grid-template-columns: repeat(3, 1fr);
}


/* Pattern Page ------------------------------ */

#page-pattern-listing .content-wrapper div[class*="tag-"]
{
  margin-bottom: var(--size-2);
}

#page-pattern-listing .content-wrapper h1
{
  margin-bottom: var(--size-6);
}


/* Footer ---------------------------- */

#footer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--size-4);
  padding-top: var(--size-20);
  padding-bottom: var(--size-4);
}

@media screen and (max-width: 699px){
  #footer
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: var(--size-3);
  }
}


/* Page - About --------------------------- */


/* Why Page ------------------------------ */

#page-why
{
  scroll-snap-type: y mandatory;
}

.story-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 0;
  min-height: 72vh;
  scroll-snap-align: start;
  position: relative;
  text-align: center;
}

        @media screen and (max-width: 800px){
          .story-section
          {
            min-height: 85vh;
            padding-inline: var(--size-2);
            height: 86vh;
          }
          .story-section::after
          {
            bottom: 5% !important;
          }
        }

.story-section h5
{
  max-width: 37ch;
  font-weight: 300;
}

      .story-section h5 strong
      {
        font-weight: bold;
      }

.story-section p.large
{
  max-width: 40ch;
}

.story-section p
{
  max-width: 40ch;
}

.story-section p.small
{
  max-width: 40ch;
}

.story-section::after
{
  content: '⇣';
  position: absolute;
  width: var(--size-2);
  bottom: 2%;
  left: calc(50% - 15px);
  font-size: var(--size-2);
  border-radius: 999px;
  animation: scroll-highlight 3s linear infinite;
}

@keyframes scroll-highlight {

  0% {
    outline: 0px solid var(--white);
    outline-offset: var(--size-0-5);
  }
  100% {
    outline: var(--size-1) solid transparent;
    outline-offset: var(--size-3);
  }
  
}

        .story-section.no-after::after
        {
          content: '';
          animation: none;
        }

.pattern-example
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--size-5);
  margin-block: var(--size-4);
}

        @media screen and (max-width: 800px){
          .pattern-example
          {
            flex-direction: column;
            gap: var(--size-2);
            margin-block: var(--size-2);
          }
        }


.if-then-example
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-1);
  margin-block: var(--size-3) var(--size-5);
}



.dropdown-example
{
  position: relative;
}

.dropdown-wrapper
{
  border-radius: var(--radius-md);
  background: var(--white);
  padding: var(--size-1) var(--size-2);
  color: var(--grey-500);
  font-style: italic;
  cursor: pointer;
  border: 1px solid transparent;
}

.dropdown-wrapper::after
{
  content: '🡣';
  margin-left: var(--size-3);
}

.active .dropdown-wrapper
{
  border: 1px solid var(--purple-400);
}


.active .dropdown-wrapper::after
{
  content: '🡡';
  color: var(--purple-600);
}

        .list-wrapper
        {
          border-radius: var(--radius-md);
          background: var(--white);
          padding: var(--size-1);
          opacity: 0;
          margin-top: var(--size-2);
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          z-index: 42;
          pointer-events: none;
        }

        .active .list-wrapper
        {
          opacity: 1;
          margin-top: var(--size-0-5);
        }

        .list-wrapper .option
        {
          background: var(--white);
          border-radius: var(--radius-md);
          padding: var(--size-1); var(--size-2);
          text-align: left;
        }

.dropdown-ex-b .list-wrapper
{
  opacity: 0;
  top: 28px;
  bottom: auto;
  margin-top: 0;
  opacity: 0;
}

.dropdown-ex-b.active .list-wrapper 
{
  opacity: 1 ;
  background: transparent;
}

.dropdown-ex-b .list-wrapper .option
{
  position: absolute;
  bottom: auto;
  top: 0px;
  right: 0px;
  transform: rotate(0deg);
}

.dropdown-ex-b.active .list-wrapper .option:nth-child(1)
{
  top: -66px;
  right: 30px;
  transform: rotate(-30deg);
}

.dropdown-ex-b.active .list-wrapper .option:nth-child(2)
{
  top: -40px;
  right: -55px;
  transform: rotate(-25deg);
}

.dropdown-ex-b.active .list-wrapper .option:nth-child(3)
{
  top: 35px;
  right: -77px;
  transform: rotate(15deg);
}

.dropdown-ex-b.active .list-wrapper .option:nth-child(4)
{
  top: 66px;
  right: 15px;
  transform: rotate(30deg);
}