:root
{
  --site-width: min( 1280px, 90vw);
}

*
{
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
}

img
{
  display: block;
  width: 100%;
}

html
{
  background: linear-gradient(33deg, white 0%, var(--purple-50) 100%);
  background-attachment: fixed;
  margin: 0;
  scroll-behavior: smooth;
}

.no-scroll html,
.no-scroll body
{
  overflow-y: hidden;
}

body 
{
  font-family: sans-serif;
  margin-inline: auto;
  width: var(--site-width);
}

ul
{
  padding-inline-start: var(--size-3) !important;
}



/* Header ----------------------------- */

nav
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-3);
  padding-block: var(--size-2);
}


/* iFrame Styles ----------------------------- */

iframe
{
  --width: var(--site-width);
  width: var(--width);
  height: calc(var(--width) / 1.67);
  border: 0px solid white;
  border-radius: var(--radius-lg);
  overflow: hidden;
  background: black;
  margin-block: var(--size-4);
}

@media screen and (max-width: 1100px){

  iframe
  {
    --width: 90vw;
  }

}


/* Columns ----------------------------- */

.col-wrapper
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--size-4);
}


          @media screen and (max-width: 1000px){
            .col-wrapper
            {
              grid-template-columns: repeat(2, 1fr);
            }
          }

              @media screen and (max-width: 600px){
                .col-wrapper
                {
                  grid-template-columns: repeat(1, 1fr);
                }
              }




/* Buttons ------------------------------------ */



button, button[class*="btn-"]
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:var(--size-1);
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  padding: var(--size-1) var(--size-2);
  transition: var(--transition);
}

a:has(button)
{
  text-decoration: none;
  width: fit-content;
}

button[class*="btn-primary"]
{
  background: var(--purple-800);
  color: var(--white);
}

        button[class*="btn-primary"]:hover
        {
          background: var(--purple-900);
          color: var(--white);
        }


button[class*="btn-secondary"]
{
  background: var(--purple-100);
  color: var(--purple-600);
}

        button[class*="btn-secondary"]:hover
        {
          background: var(--purple-200);
        }

button[class*="btn-tertiary"]
{
  background: transparent;
  color: var(--purple-700);
}

        button[class*="btn-tertiary"]:hover
        {
         background: var(--purple-100); 
        }


.button-pair
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
}



.invert-theme
{

  button[class*="btn-secondary"]
  {
    background: rgba(255, 255, 180, 0.08);
    color: var(--white);
  }

}




/* Menu ----------------------------------------- */

.menu-wrapper
{
  display: flex;
  flex-direction: row;
  gap: var(--size-1);
}




/* Notification -------------------------------------- */

.notification-mobile,
.notification-mobile.hide
{
  display: none;
}  


@media screen and (max-width: 600px)
{
    .notification-mobile
    {
      display: flex;
      flex-direction: row;
      gap: var(--size-1);
      padding: var(--size-1) var(--size-2);
      border-radius: var(--radius-md);
      background-color: var(--orange-100);
      border: 1px solid var(--orange-500);
      color: var(--orange-800);
    }   
}





/* Intro Wrapper ----------------------------- */

.intro-wrapper
{
  min-height: 66vh;
  border-radius: var(--radius-lg);
  background: var(--purple-900);
  background: radial-gradient(circle at 0% 120%, #000013 10%, #001C3E 80%, #5D00D2 80%, #002344 100%);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  justify-content: center;
  align-items: center;
  margin-block: var(--size-3);
  padding-block: var(--size-2);
  padding-inline: 20vw;
  text-align: center;
  position: relative;
}

.intro-wrapper::before
{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -15%;
  background: radial-gradient(#5D00D2 0%, transparent 60%);
  width: 50%;
  height: 66%;
  opacity: 0.15;
  transform: rotate(33deg);
}

.intro-wrapper::after
{
  content: '';
  position: absolute;
  left: 5%;
  bottom: 5%;
  background: radial-gradient(#8c2eff 0%, transparent 50%);
  width: 25%;
  height: 20%;
  opacity: 0.1;
  transform: rotate(33deg);
}

.intro-wrapper h1, .intro-wrapper p
{
  text-wrap: balance;
}


/* Patterns ----------------------------- */

.patterns-intro
{
  margin-block: var(--size-6);
  max-width: 66vw;
}

.pattern-listing
{

  .content-wrapper
  {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  .content-wrapper h1
  {

  }

  .content-wrapper .col-wrapper .col:first-of-type
  {
    flex-grow: 3;
  }

  .content-wrapper .col-wrapper .col:first-of-type p
  {
    font-size: var(--text-large);
  }

}





/* Pattern Listing ------------------------------ */

.patterns-wrapper
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--size-4);

    article
    {
      position: relative;
      
        img
        {
          border-radius: var(--size-0-5);
          margin-bottom: var(--size-2);
        }

        h3
        {
          margin-bottom: var(--size-0-5);
        }

        div[class*="tag-"]
        {
          position: absolute;
          top: var(--size-1);
          right: var(--size-1);
        }
      
  }

}

div[class*="tag-"]
{
  font-size: var(--text-xsmall);
  border-radius: var(--radius-rounded);
  padding: var(--size-0-5) var(--size-2);
  background: var(--tag-bg);
  color: var(--tag-text);
  width: fit-content;
  text-transform: uppercase;
}

    div[class*="tag-author"]
    {
      --tag-bg: var(--purple-100);
      --tag-text: var(--purple-800);
    }

    div[class*="tag-author"]:after
    {
      content: 'Prompt Authoring';
    }

    div[class*="tag-settings"]
    {
      --tag-bg: var(--purple-200);
      --tag-text: var(--purple-900);
    }

    div[class*="tag-settings"]:after
    {
      content: 'Prompt Settings';
    }


        @media screen and (max-width: 1000px)
        {

          .intro-wrapper
          {
            padding-inline: 10vw;
          }

          .patterns-wrapper
          {
            grid-template-columns: repeat(2, 1fr);
          }
        }

                @media screen and (max-width: 600px)
                {
                  .patterns-wrapper
                  {
                    grid-template-columns: repeat(1, 1fr);
                  }
                }


/* Footer ---------------------------- */

#footer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--size-4);
  margin-block: var(--size-6);
}